.Volume {
   display: flex;
   align-items: center;
   border: none;
   background: transparent;
   cursor: pointer;
   outline: 0;
   position: relative;
 
 }
 
 .Volume-range {
   transform: rotate(-90deg);
   transform-origin: left bottom;
   position: absolute;
   bottom: 50px;
   left: 50px;
   height: 50px;
   display: none;
   background: rgba(0,0,0,.7);
   padding-right: 20px;
   border-radius: 0 20px 20px 0;
 }
 .Volume input {
   cursor: grab;
   background: blue;
   border: 1px solid blue;
 }
 
 .Volume:hover .Volume-range {
   display: flex;
 }