.playlist {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   color: #44546b;
}

.title {
   font-size: 1.1em;
   font-weight: bold;
   margin: 5px 0;
   text-transform: uppercase;
   letter-spacing: 1px;
}

.description {
   font-size: .9em;
}

.playlist .list-media {
   display: flex;
   flex-wrap: wrap;
   /* padding: 1%; */
}