.div-card {
   margin-bottom: 15px;
   margin-right: 15px;
}

.card {
   cursor: pointer;
   display: inline-block;
   width: 225px;
   vertical-align: top;
   max-width: 345px;
   height: 100%;
}

.media {
   /* height: 160px;  */
   padding-top: 56.25%
}

.card:hover {
   transform: scale(0.99);
   transition: .5s;
}

.media-title {
   margin: 5px 0 0 0;
   color: #44546b;
   white-space: normal;
}

.media-author {
   font-size: 12px;
   margin: 5px 0 0 0;
}